<!DOCTYPE html>
<html>

  <head>
    <link rel="stylesheet" type="text/css" href="/styles/stylesheet.css">
  </head>

  <body>
    <nav>
      <ul>
        <li><a href="#" id="logoutBtn">Logout</a></li>    <!-- logout -->
      </ul>
    </nav>

    <div class = "fake-nav">
      
    </div>



    <div id = "left-box">
      <div id="searchbar">
        <h1>YOUR WATCHLIST</h1>        
        <div class="form-group">
            <input type="text" name = "keyword" placeholder = "Symbol" required>
            <button id="submit"> ADD</button> 
        </div>
      </div>

      <div id = "mountpoint">
        
      </div>

    </div>



    <div id = "right-box">
      <div id = "searchbar-right">
        <h1>SECTOR PERFORMANCE</h1>
      </div>
      <div id = "sector-mount"></div>
    </div>




  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <script src="/js/main.js"></script>
  <script src = "/js/home.js"></script>


</html>