<!DOCTYPE html>
<html>

  <head>
    <link rel="stylesheet" type="text/css" href="/styles/stylesheet.css">
  </head>

  <body>
    <div id = "navbar"></div>

    <div class = "page">
      <h1>Login</h1>
      <input type="text" id = "loginUsername" placeholder="username">
      <input type="text" id = "loginPassword" placeholder="password">
      <button id = "loginButton">Submit</button>

      <h1>Register</h1>
      <input type="text" id = "registerUsername" placeholder="username">
      <input type="text" id = "registerPassword" placeholder="password">
      <input type="text" id = "registerEmail" placeholder="email">
      <button id = "registerButton">Submit</button>
     
    </div>


    




    <div>
      <div id="searchbar" >
          <form>
              <div class="form-group">
                  <input type="text" name = "keyword" placeholder = "Symbol" required>
                  <button id="submit"> ADD TO WATCHLIST </button> 
              </div>
          </form>
      </div>


      <div class="form-group">
          <input type="text" name = "hist-keyword" placeholder = "Symbol" required>
          <button id="hist-submit" placeholder = "search"> Historical</button>
      </div>


      <div class="form-group">

          <button id="sect-submit" placeholder = "SECTOR">SECTOR</button> 
      </div>

      <div id = "mountpoint">
        
      </div>
      <svg width="960" height="500"></svg>




    </div>
  </body>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>

  <script src="/js/main.js"></script>
  <script src = "/js/login.js"></script>
  <script src="https://d3js.org/d3.v4.js"></script>


</html>