<!DOCTYPE html>
<html>

  <head>
  </head>

  <body>
    <div>


      <div id="searchbar" >
          <form>
              <div class="form-group">
                  <input type="text" name = "keyword" placeholder = "keyword" required>
                  <input id="submit" placeholder = "search"> 
              </div>
          </form>
      </div>

    </div>
  </body>
  <script src="main.js"></script>
  <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>


</html>