<!DOCTYPE html>
<html>

  <head>
    <link rel="stylesheet" type="text/css" href="stylesheet.css">
  </head>

  <body>
    <div>


      <div id="searchbar" >
          <form>
              <div class="form-group">
                  <input type="text" name = "keyword" placeholder = "Symbol" required>
                  <button id="submit" placeholder = "search"> 
              </div>
          </form>
      </div>


      <div id = "mountpoint">
        
      </div>

    </div>
  </body>
  <script src="main.js"></script>
  <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>


</html>