/* NAVBAR */
nav {
  position: fixed;
    width: 100%;
    margin: 12px 0 0 0;
}

.fake-nav{
	height: 55px;
	width: 100px;
}

ul {
  overflow: auto;
  list-style-type: none;
  margin-right: 25px;
}
 
li {
  height: 25px;
  float: right;
  margin-left: 0px;
  border-left: 1px solid #aaa;
  padding: 0 20px;
}
 
li:last-child {
  border-left: none;
}
 
li a {
  text-decoration: none;
  color: #ccc;
  font: 22px/1 Helvetica, Verdana, sans-serif;
  text-transform: uppercase;
 
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
 
li a:hover {
  color: #666;
}
 
li.active a {
  font-weight: bold;
  color: #333;
}



/********** MODAL *********/


/* The Modal (background) */
.modal, .registerModal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    font: 22px/1 Helvetica, Verdana, sans-serif;
    text-align: center;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
}

.modal-content p{
	font-size: 13px;
}

.modal-content input{
	position: relative;
	font-size:17px;
  width:90%;
  padding:6px 12px;

  border:1px solid black;
  border-radius:0;
  box-shadow: none;
	margin: 0 0 18px;
}
.modal-content button{
    position: relative;
    font-size: 22px;
    width: 75%;
    height: 100px;
    padding: 25px 20px;
    border: 1px solid black;
    border-radius: 0;
    box-shadow: none;
    background-color: whitesmoke;
}

input:focus, input:hover{
	outline-color: whitesmoke;
	outline-width: 5px;
}

button:focus, button:hover{
	outline-color: whitesmoke;
	outline-width: 5px;
}

/* The Close Button */
.close, .closeReg {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus, .closeReg:hover, .closeReg:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


/****************************************       LANDING PAGE   ***************************************
*/

.landing{
	margin: 0 40px 0 40px;
	position: relative;
}

#intro{
	min-height: 100vh;
	position: relative;
}

#about{
	min-height: 300px;
}

.header-bar{
	width: 250px;
	height: 10px;
	background-color: black;
}

#about h1{
	margin-bottom: 10px;
	font: 40px Helvetica, Verdana, sans-serif;
	font-weight: bold;
}




body{
	margin: 0;
	font: 18px/1 Helvetica, Verdana, sans-serif;
	height: 100%;
}
/****************************************
				LEFT BOX
****************************************/

#left-box{
	width: 60%;
	float: left;
	margin: 0 0 0 0;
	position: relative;
}
#searchbar{
	margin-bottom: 40px;
}

#searchbar, #searchbar-right{
	width: initial;
	overflow: hidden;
	display: flex;
	flex: 1;
	align-items: center;
}

#searchbar h1{
	float: left;
	margin-left: 20px;
}


#searchbar .form-group{
	margin: 0 0 0 50px;
	overflow: hidden;
	position: relative;
	display: flex;
	flex: 1;
	align-items: center;
}
.form-group button{
	width: 45px;
	height: 32px;
	border: 1px solid black;
	background-color: black;
    color: white;
}
.form-group input{
	width: 60px;
	height: 30px;
	font: 12px/1 Helvetica, Verdana, sans-serif;
	border: 1px solid black;
	padding: 0 0 0 10px;
}


/*MOUNTPOINT STUFF*/

#mountpoint{
	height: auto;
    position: relative;
	font: 18px/1 Helvetica, Verdana, sans-serif;
	margin: 0 0 0 30px;
}

@-webkit-keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}  
@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

.infoBox{
	margin-bottom: 30px;
	height: auto;
	width: 350px;
	border: 3px solid black;
	overflow:hidden;

  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;

  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

.infoBox .stockName{
	font: 18px/1 Helvetica, Verdana, sans-serif;
	font-weight: bold;
	margin: 20px 20px 10px 20px;
}

.infoBox .bar{
	background-color: black;
	width: 100px;
	height: 5px;
	margin: 0 0 0 19px;
}

.infoBox .stockInfo{
	font: 14px/1 Helvetica, Verdana, sans-serif;
	min-width: 100px;
	display: inline-block;
	margin: 20px 20px 20px 20px;

}

.infoBox .delete{
  color: #e6e6e6;
  float: right;
  font-size: 28px;
  font-weight: bold;
  padding: 0px 8px 0px 0px;
}

.infoBox .delete:hover,
.delete:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
}

/****************************************
				RIGHT BOX
****************************************/

#right-box{
	position: relative;
	float: left;
	display: inline-block;
	width: 35%;
}

#searchbar-right{
	text-align: right;
	padding-right: 40px;
}


.sectorBox{
/*	border: 3px solid black;
*/	margin: 20px 10px 40px 10px;
	width: 180px;
	position: relative;
	float: left;
	text-align: center;
	display: inline-block;
}

.sectorBox .sectorName{
	font: 18px/1 Helvetica, Verdana, sans-serif;
	font-weight: bold;
	margin: 20px 5px 5px 5px;
	overflow: hidden;
	height: 40px;
}
.sectorBox .sectorTextBox{
	height:70px;
	width:70px;
	border-radius: 37px;
	border: 1px solid #000;
	text-align: center;

/*	center it
*/	left: 50%;
    position: relative;
    transform: translateX(-50%);
}
.sectorTextBox .sectorText{
    font: 14px/1 Helvetica, Verdana, sans-serif;
    display: block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: 0px;

}









